.toolbar {
  height: 48px;
  font-size: 14px;
  box-shadow: 0 2px 4px var(--border);
  z-index: 100;

  button {
    mat-icon {
      color: var(--on-primary);
    }
  }
}

.toolbar-title {
  font-size: 16px;
  font-weight: 500;
  margin-left: 8px;
  color: var(--on-primary);
}

.toolbar-spacer {
  flex: 1 1 auto;
}
