.toolbar {
  height: 48px;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;

  button {
    mat-icon {
      color: white;
    }
  }
}

.toolbar-title {
  font-size: 16px;
  font-weight: 500;
  margin-left: 8px;
  color: white;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
