#!/usr/bin/env nextflow

nextflow.enable.dsl = 2

include { {{ .ProcessName | upper }} } from './modules/local/{{ .ProcessName }}/main'

workflow {{ .WorkflowName | upper }} {
    main:
    {{ .ProcessName | upper }} (
        {{- range $i, $input := .Inputs }}
        {{- if eq .Type "file" }}
        params.{{ .Name }} ? Channel.fromPath(params.{{ .Name }}).collect() : Channel.of([]),
        {{- else }}
        params.{{ .Name }},
        {{- end }}
        {{- end }}
    )
}

workflow {
    {{ .WorkflowName | upper }} ()
}
