#!/usr/bin/env nextflow

nextflow.enable.dsl = 2

include { {{ .ProcessName | upper }} } from './modules/local/{{ .ModulePath }}/main'

workflow PIPELINE {
    main:
    {{ .ProcessName | upper }} (
        {{- if .HasInputFile }}
        params.input_file ? Channel.fromPath(params.input_file).collect() : Channel.of([]),
        {{- end }}
        {{- range $i, $input := .Inputs }}
        {{- if eq .Type "file" }}
        params.{{ .Name }} ? Channel.fromPath(params.{{ .Name }}).collect() : Channel.of([]),
        {{- else }}
        Channel.value(params.{{ .Name }} != null ? params.{{ .Name }} : ''),
        {{- end }}
        {{- end }}
    )
}

workflow {
    PIPELINE ()
}
