.diann-cv-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 500px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.full-width {
  width: 100%;
}

.file-actions {
  display: flex;
  gap: 12px;
  align-items: stretch;

  button {
    flex-shrink: 0;
  }

  .file-selector {
    flex-grow: 1;
  }
}
