"AnnotationFilter" "1.22.0"
"askpass" "1.2.0"
"backports" "1.5.0"
"base" "4.2.0"
"base64enc" "0.1-3"
"Biobase" "2.58.0"
"BiocBaseUtils" "1.0.0"
"BiocGenerics" "0.44.0"
"BiocManager" "1.30.23"
"BiocVersion" "3.16.0"
"Biostrings" "2.66.0"
"bitops" "1.0-8"
"boot" "1.3-30"
"brew" "1.0-10"
"brio" "1.1.5"
"bslib" "0.8.0"
"cachem" "1.1.0"
"callr" "3.7.6"
"caTools" "1.18.2"
"checkmate" "2.3.2"
"class" "7.3-22"
"cli" "3.6.2"
"clipr" "0.8.0"
"clue" "0.3-65"
"cluster" "2.1.6"
"codetools" "0.2-20"
"colorspace" "2.1-1"
"commonmark" "1.9.1"
"compiler" "4.2.0"
"corrplot" "0.92"
"cpp11" "0.4.7"
"crayon" "1.5.3"
"credentials" "2.0.1"
"crosstalk" "1.2.1"
"curl" "5.2.1"
"data.table" "1.15.4"
"datasets" "4.2.0"
"DelayedArray" "0.24.0"
"desc" "1.4.3"
"devtools" "2.4.5"
"diffobj" "0.3.5"
"digest" "0.6.35"
"doParallel" "1.0.17"
"doRNG" "1.8.6"
"downlit" "0.4.4"
"dplyr" "1.1.4"
"ellipsis" "0.3.2"
"evaluate" "0.24.0"
"fansi" "1.0.6"
"farver" "2.1.2"
"fastmap" "1.2.0"
"fontawesome" "0.5.2"
"foreach" "1.5.2"
"foreign" "0.8-87"
"fs" "1.6.3"
"generics" "0.1.3"
"GenomeInfoDb" "1.34.9"
"GenomeInfoDbData" "1.2.9"
"GenomicRanges" "1.50.2"
"gert" "2.1.0"
"ggplot2" "3.5.1"
"ggrepel" "0.9.5"
"gh" "1.4.1"
"gitcreds" "0.1.2"
"glue" "1.7.0"
"gmm" "1.8"
"gplots" "3.1.3.1"
"graphics" "4.2.0"
"grDevices" "4.2.0"
"grid" "4.2.0"
"gridExtra" "2.3"
"gtable" "0.3.5"
"gtools" "3.9.5"
"highr" "0.11"
"htmltools" "0.5.8.1"
"htmlwidgets" "1.6.4"
"httpuv" "1.6.15"
"httr" "1.4.7"
"httr2" "1.0.2"
"igraph" "2.0.3"
"impute" "1.72.3"
"imputeLCMD" "2.1"
"ini" "0.3.1"
"iq" "1.9.15"
"IRanges" "2.32.0"
"isoband" "0.2.7"
"iterators" "1.0.14"
"itertools" "0.1-3"
"jquerylib" "0.1.4"
"jsonlite" "1.8.8"
"KernSmooth" "2.23-24"
"knitr" "1.48"
"labeling" "0.4.3"
"later" "1.3.2"
"lattice" "0.22-6"
"lazyeval" "0.2.2"
"lifecycle" "1.0.4"
"limma" "3.54.2"
"lme4" "1.1-35.5"
"lmerTest" "3.1-3"
"log4r" "0.4.3"
"magrittr" "2.0.3"
"marray" "1.76.0"
"MASS" "7.3-60.0.1"
"Matrix" "1.6-5"
"MatrixGenerics" "1.10.0"
"matrixStats" "1.3.0"
"memoise" "2.0.1"
"methods" "4.2.0"
"mgcv" "1.9-1"
"mice" "3.16.0"
"mime" "0.12"
"miniUI" "0.1.1.1"
"minqa" "1.2.7"
"missForest" "1.5"
"MsCoreUtils" "1.10.0"
"MSstats" "4.6.5"
"MSstatsConvert" "1.8.3"
"MSstatsPTM" "2.0.3"
"MSstatsTMT" "2.6.1"
"MultiAssayExperiment" "1.24.0"
"munsell" "0.5.1"
"mvtnorm" "1.2-5"
"nlme" "3.1-165"
"nloptr" "2.1.1"
"nnet" "7.3-19"
"norm" "1.0-11.1"
"numDeriv" "2016.8-1.1"
"openssl" "2.2.0"
"parallel" "4.2.0"
"pcaMethods" "1.90.0"
"PerseusR" "0.3.4"
"pillar" "1.9.0"
"pkgbuild" "1.4.4"
"pkgconfig" "2.0.3"
"pkgdown" "2.1.0"
"pkgload" "1.4.0"
"plotly" "4.10.4"
"plyr" "1.8.9"
"praise" "1.0.0"
"preprocessCore" "1.60.2"
"prettyunits" "1.2.0"
"processx" "3.8.4"
"profvis" "0.3.8"
"promises" "1.3.0"
"ProtGenerics" "1.30.0"
"ps" "1.7.7"
"purrr" "1.0.2"
"QFeatures" "1.8.0"
"R6" "2.5.1"
"ragg" "1.3.2"
"randomForest" "4.7-1.1"
"rappdirs" "0.3.3"
"rcmdcheck" "1.4.0"
"RColorBrewer" "1.1-3"
"Rcpp" "1.0.12"
"RcppArmadillo" "14.0.0-1"
"RcppEigen" "0.3.4.0.0"
"RCurl" "1.98-1.16"
"rematch2" "2.1.2"
"remotes" "2.5.0"
"rlang" "1.1.3"
"rmarkdown" "2.27"
"rngtools" "1.5.2"
"roxygen2" "7.3.2"
"rpart" "4.1.23"
"rprojroot" "2.0.4"
"rstudioapi" "0.16.0"
"rversions" "2.1.2"
"S4Vectors" "0.36.2"
"sandwich" "3.1-0"
"sass" "0.4.9"
"scales" "1.3.0"
"sessioninfo" "1.2.2"
"shiny" "1.9.1"
"sourcetools" "0.1.7-1"
"spatial" "7.3-17"
"splines" "4.2.0"
"statmod" "1.5.0"
"stats" "4.2.0"
"stats4" "4.2.0"
"stringi" "1.8.3"
"stringr" "1.5.1"
"SummarizedExperiment" "1.28.0"
"survival" "3.7-0"
"sva" "3.46.0"
"sys" "3.4.2"
"systemfonts" "1.1.0"
"tcltk" "4.2.0"
"testthat" "3.2.1.1"
"textshaping" "0.4.0"
"tibble" "3.2.1"
"tidyr" "1.3.1"
"tidyselect" "1.2.1"
"tinytex" "0.52"
"tmvtnorm" "1.6"
"tools" "4.2.0"
"translations" "4.2.0"
"urlchecker" "1.0.1"
"usethis" "3.0.0"
"utf8" "1.2.4"
"utils" "4.2.0"
"vctrs" "0.6.5"
"VennDiagram" "1.7.3"
"VIM" "6.2.2"
"viridisLite" "0.4.2"
"waldo" "0.5.2"
"whisker" "0.4.1"
"withr" "3.0.1"
"xfun" "0.46"
"XML" "3.99-0.17"
"xml2" "1.3.6"
"xopen" "1.0.1"
"xtable" "1.8-4"
"XVector" "0.38.0"
"yaml" "2.3.10"
"zip" "2.3.1"
"zlibbioc" "1.44.0"
"zoo" "1.8-12"
